@charset "UTF-08";

body{
    font-family: 'work Sans', Arial, Helvetica, sans-serif;
    font-size: 1em;
}

h1, h2{
    
    /* shorthand font
    - font-style -> font-weight -> font-size -> font-family 

    font-family:'work Sans', sans-serif;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic; */
    font: italic bolder 3em 'work Sans, sans-serif';
}